/*----------LAYOUT----------*/
body 
{
    background-image: url(../images/pattern.jpg);
    color: black;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 0;
    font-family: sans-serif;
}

header 
{
    text-align: center;
}

footer 
{
    display: -webkit-flex;
    display: flex;
    padding:  10px;
    border: 1px double grey;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0;
    color: black;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;	
}

footer section 
{
    -webkit-flex: 1;
    flex: 1;
}

.center 
{
    text-align: center;
}

.right 
{
    text-align: right;
}
/*----------END----------*/